<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="../assets/img/n.png" type="image/x-icon"><title> NIMRODEL Restaurant y Pub</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <!-- cargo css para que todas las imagenes se vean del mismo tamaño -->
  <link rel="stylesheet" type="text/css" href="../assets/css/images.css">

</head>
<body>
  <center><a href="./index.html"><img src="../assets/img/n.png" class="logo"></a></center>
  <h4>Comuniquemonos</h4>
  <form method="POST" action="">
    <table>
      <thead>
        <tr><th></th></tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <label for="ComNombre">Nombre </label> <input id="ComNombre" type="text" placeholder="Ingrese su Nombre" name="ComNombre" required>
          </td>
        </tr>
        <tr>
          <td>
            <label for="ComCorreo">Correo </label> <input id="ComCorreo" type="email" placeholder="Ingrese su Correo" name="ComCorreo" required>
          </td>
        </tr>
        <tr>
          <td>
            <label for="ComTelefono">Telefono </label> <input id="ComTelefono" type="number" placeholder="+56XXXXXXXXX" name="ComTelefono" pattern="^(\+?56)[9876543210]\d{8}$" required>
          </td>
        </tr>
        <tr>
          <td>
            <label>Motivo </label>
            <select id="ComMotivo" name="ComMotivo" required>
              <option value="1">Felicitaciones</option>
              <option value="2">Consultas</option>
              <option value="3">Sugerencias</option>
              <option value="4">Reclamos</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <textarea id="ComTextArea" name="ComTextArea" required></textarea>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>
            <button type="submit">Enviar</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </form>

  <footer>Todos los derechos reservados &reg</footer>
</body>
</html>
