{{> header }}

<div class="mt-3">
  <div class="row">
    {{#each fotos}}
      <div class="col-12 col-sm-4 col-md-2">
        
        <div class="card mt-2">
        <img src={{ this.url }} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ this.titulo }}</h5>
          <p class="card-text">{{ this.contenido }}</p>
        </div>
      </div>

      </div>
    {{/each}}
  </div>
</div>

{{> footer }}